#head, #navigation, #foot, .no-print {
	display: none;
	}
table.gridito-table, table.gridito-table td, table.gridito-table th {
	border: 1px solid gray;
	border-collapse: collapse;
	}
h1 {
	font-size: 1.2em;
	}
